<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.NotificationMessages"/>
      <class name="testcases.Inputs"/>
      <class name="testcases.JavaScriptOnloadEvent"/>
      <class name="testcases.Dropdown"/>
      <class name="testcases.InfiniteScroll"/>
      <class name="testcases.NestedFrames"/>
      <class name="testcases.FileDownload"/>
      <class name="testcases.FloatingMenu"/>
      <class name="testcases.Keypresses"/>
      <class name="testcases.JavaScriptAlerts"/>
      <class name="testcases.LargeandDeepDOM"/>
      <class name="testcases.HorizontalSlider"/>
      <class name="testcases.GeoLocation"/>
      <class name="testcases.DragandDrop"/>
      <class name="testcases.Hovers"/>
      <class name="testcases.ForgotPassword"/>
      <class name="testcases.DynamicContent"/>
      <class name="testcases.SecureFileDownload"/>
      <class name="testcases.JQueryUIMenus"/>
      <class name="testcases.Frames"/>
      <class name="testcases.Locators"/>
      <class name="testcases.FormAuthentication"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
